.card {
    display: flex;
    flex-direction: column;
    color: rgb(32, 32, 32);
    background-color: rgb(250, 250, 250);
    border: 2px solid #fa1c39;
    border-radius: 5px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}